src/client/.idea
.idea
node_modules
*.swp
public
results
/tmp/
src/python/virtualEnvironment
src/python/Luigi/tasks/__pycache__
src/python/Luigi/tests/__pycache__
simplemaps-worldcities-basic.csv.log.json
simplemaps-worldcities-basic.csv.out
runtime
