{{#bs-modal open=showdialog onHidden=(action (mut showdialog) false) as |modal|}}
	{{#modal.header}}
        <h4 class="modal-title">
			Process new file
        </h4>
	{{/modal.header}}
	{{#modal.body}}
		{{input type="text"  class="form-control"  autofocus="autofocus" value=modaltext}}
	{{/modal.body}}
	{{#modal.footer}}
		{{#bs-button onClick=(action modal.close)}}Cancel{{/bs-button}}

		{{#bs-button type="success" onClick=(action "addRuleset")}}Create{{/bs-button}}


	{{/modal.footer}}
{{/bs-modal}}

{{yield}}
