{{#if (gt pages 1)}}
<nav aria-label="Page navigation">
  <div>Page {{current}} of {{pages}}</div>
  <div>
	<ul class="pagination">
		<li class="page-item {{if (is-equal current 1) 'disabled'}}">
			{{#link-to (query-params page=(dec current)) replace=true class="page-link}" aria-label="Previous" disabled=(is-equal current 1)}}
				<span aria-hidden="true">&laquo;</span>
				<span class="sr-only">Previous</span>
			{{/link-to}}
		</li>
		<li class="page-item {{if (is-equal current pages) 'disabled'}}">
			{{#link-to (query-params page=(inc current)) replace=true class="page-link" aria-label="next" disabled=(is-equal current pages)}}
				<span aria-hidden="true">&raquo;</span>
				<span class="sr-only">Next</span>
			{{/link-to}}
		</li>
	</ul>
  </div>
</nav>
{{/if}}
