<div  style="width:80%;display: inline-block;margin-right: 5px;" >
	{{#power-select
	options=choices
	onchange=(action "setValue")
	selected=selectedValue
	renderInPlace=true
	disabled=disabled
	searchField="label"
	as |choice|}}
		{{choice.label}}
	{{/power-select}}
</div>

{{yield}}
