<div  style="width:80%;display: inline-block;margin-right: 5px;" >
	{{#power-select
	options=columns
	onchange=(action (mut value))
	selected=value
	renderInPlace=true
	disabled=disabled
	as |column|}}
		{{column}}
	{{/power-select}}
</div>

{{yield}}
