<div class="custom-property-list">
	{{#each uiList as |item|}}
		<div>
			<span>
				{{item.label}} {{#component (concat "custom-property/" (custom-property-type item.type) )
					value=(get config item.name)
					config=config
					uiItem=item disabled=disabled columns=columns}}
					{{#if changeset}}
						FOO!!!
					{{/if}}
				{{/component}}
				{{#if item.tooltip}}
					{{bs-tooltip title=item.tooltip}}
				{{/if}}
			</span>
		</div>
	{{/each}}
</div>
{{yield}}
