<h1>
	Admin

	{{#if applicationController.currentUser.features.environmentLabel}}
        in {{applicationController.currentUser.features.environmentLabel}}
	{{/if}}


</h1>


<span>
	{{#link-to 'admin.configuredrule' (query-params typeFilter='source')}}<a href="">Download Locations</a>{{/link-to}}
</span>

<span>
	{{#link-to 'admin.configuredrule' (query-params typeFilter='target')}}<a href="">Upload Locations</a>{{/link-to}}
</span>

{{outlet}}
