{{outlet}}
<div>
	<h2>Error list</h2>
	<table id="runsTable" class="runs-table">
		<tr style="border-bottom: 1px solid grey;">
			<td>
				Time
			</td>
			<td>
				Error
			</td>
		</tr>
	{{#each model.result as |statusInstance index|}}
		<tr>
			<td>
				{{statusInstance.time}}
			</td>
			<td>
				{{statusInstance.message}}
			</td>
		</tr>
	{{/each}}
	</table>
</div>
