{{outlet}}
<div>
	<h2>
		<img src="{{applicationController.environmentStyles.landingImage}}">

		PLUTO Main Page

		{{#if applicationController.currentUser.features.environmentLabel}}
            in {{applicationController.currentUser.features.environmentLabel}}
		{{/if}}

	</h2>
	{{#bs-button type="primary" onClick=(action "transitionTo" "runs" "runGroupFilter" applicationController.currentUser.group)}}
	File Load Status
	{{/bs-button}}

	{{#bs-button type="success" onClick=(action "transitionTo" "rulesets" "rulesetGroupFilter" applicationController.currentUser.group)}}
	Edit Validation Setups
	{{/bs-button}}

	{{#unless applicationController.currentUser.features.allowOnlyRulesetImport}}

		{{#bs-button type="info" onClick=(action "setShowAddRuleset")}}
			Add new file to load
		{{/bs-button}}
	{{/unless}}

	{{#if (and applicationController.currentUser.features.showAdmin applicationController.currentUser.admin)}}
		{{#bs-button type="success" onClick=(action "transitionTo" "admin")}}
			Admin
		{{/bs-button}}
	{{/if}}
</div>

{{add-ruleset showdialog=showAddRuleset parsers=model.parsers
	defaultSources=model.defaultSources defaultTargets=model.defaultTargets defaultAuthGroups=model.authGroups }}

