{{outlet}}
<div>
	<h2>PLUTO Main Page</h2>
	{{#bs-button type="primary" onClick=(action "transitionTo" "runs" "runGroupFilter" applicationController.currentUser.group)}}
	File Load Status
	{{/bs-button}}

	{{#bs-button type="success" onClick=(action "transitionTo" "rulesets" "rulesetGroupFilter" applicationController.currentUser.group)}}
	Edit Validation Setups
	{{/bs-button}}

	{{#bs-button type="info" onClick=(action "setShowAddRuleset")}}
        Add new file to load
	{{/bs-button}}
</div>

{{add-ruleset showdialog=showAddRuleset parsers=model.parsers
	defaultSources=model.defaultSources defaultTargets=model.defaultTargets}}

