<div>
	{{#link-to 'runs' tagName='button' class='btn btn-success btn-sm btn-return-title'}}
		{{#bs-tooltip placement="left"}}Return to runs{{/bs-tooltip}}
        <i class="fa fa-angle-double-left"></i>
	{{/link-to}}
    <h2>Run Details</h2>
</div>
<div>
	{{run-details model=model type=type page=page ruleid=ruleid}}
</div>
<div>
	{{#if model.ruleset}}
		{{#if (not model.ruleset.deleted)}}
			{{#link-to 'editRuleset' model.ruleset.filename}}Edit Current Ruleset{{/link-to}}
		{{/if}}
	{{/if}}
</div>

{{outlet}}
