button.show-add-rule {
  margin:5px 5px 5px 5px;
}

button.save-ruleset {
  margin:5px 5px 5px 5px;
}

div.column {
  /*border:1px solid black;*/
  float: left;
  width:49%;
  margin:2px 2px 2px 2px;
  background: #F8F8F8;
}

div.section-header {
  padding: 3px 3px 0px 3px;
  font-size: 125%;
}

div.section-content {
  /*border:1px solid black;*/
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  background: #E8E8E8;
}

input.text-input {
  width:  98%;
}

table.error-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-collapse: collapse;
  /*border: 1px solid black; */
  width:  98%;
  background: #E8E8E8;
}

table.runs-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-spacing: 0;
  background: #E8E8E8;
  width:  98%;
}

table.ruleset-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-spacing: 0;
  background: #E8E8E8;
  width:  98%;
}

td.error-cell {
  border: 1px solid white;
  /* width:  auto; */
}

tr.error-row {
  border: 1px solid white;
  /* width:  auto; */
}

tr.selected {
  background: lightcyan;
}

tr:hover {
  background-color: #f0f0f0;
}

/* Conflicts with the selection background coloring.
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */
