button.show-add-rule {
  margin:5px 5px 5px 5px;
}

button.save-ruleset {
  margin:5px 5px 5px 5px;
}

div.column {
  /*border:1px solid black;*/
  float: left;
  width:49%;
  margin:2px 2px 2px 2px;
  background: #F8F8F8;
}

.section-header {
  padding: 3px 3px 0px 3px;
  font-size: 125%;
}

div.paginator-page {
  margin-left: 5px;
  margin-right: 5px
}

div.section-content {
  /*border:1px solid black;*/
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  background: #E8E8E8;

}

div.ruleset-section-content {
  display: inline-block;
  width: 100%;
}

.ruleset-content {
	display: inline-block;
	width: 100%;
	padding-right: 10px;
}

.rule-header {
	padding: 3px 3px 0px 3px;
	font-size: 110%;
	vertical-align: middle;
}

input.text-input {
  width:  98%;
}

table.error-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-collapse: collapse;
  /*border: 1px solid black; */
  width:  98%;
  background: #E8E8E8;
}

table.runs-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-spacing: 0;
  background: #E8E8E8;
  width:  98%;
}

table.ruleset-table {
  margin:5px 5px 15px 5px;
  padding: 3px 3px 3px 3px;
  border-spacing: 0;
  background: #E8E8E8;
  width:  98%;
  table-layout: fixed;
}

table.main-page-table {
  margin:5px 5px 5px 5px;
  padding: 3px 3px 3px 3px;
  border-spacing: 0;
  background: #E8E8E8;
  width:  98%;
}

td.error-cell {
  border: 1px solid white;
  /* width:  auto; */
}

tr.error-row {
  border: 1px solid white;
  /* width:  auto; */
}

.ruleset-rule-selectable {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.rule-selectable.selected {
  background: lightcyan;
}

.rule-selectable:hover {
  background-color: #f0f0f0;
}

.rule-selectable {
	cursor: pointer;
}

.parser-buttons {
  float: right;
}

.pagination-centered .pagination {
  margin: 0px;
}

.warning-and-error-icon {
  color: transparent;
  background: linear-gradient(90deg, firebrick 50%, #EEC100 50%);
  -webkit-background-clip: text;
  background-clip: text;
}

.warning-color {
  color: #EEC100;
}

.error-color {
  color: firebrick;
}

.good-color {
  color: forestgreen;
}

.info-color {
	color: #37a7ed;
}

.no-icon {
  display: none;
}

.icon-cell {
  width: 18px;
}

.paginator-item {
  height: 15px;
}
.paginator-item * {
  float: left;
}

.paginator-item button {
  margin-top: 2px;
}

/* Conflicts with the selection background coloring.
/* tr:nth-child(even) {
  background-color: #f2f2f2;
} */

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 80%;
  color: gray;
}

div.footer .version {
	float: right;
	margin-right: 5px;
}

div.authDetails {
	position: absolute;
	right: 10px;
	top: 10px;
}

.fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
}
.fileUpload input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.btn-return-title {
  float: left;
  margin-right: 10px;
  height: 100%;
}

.change-btn {
  top: -3px;
  position: relative;
}

.errors-btn {
  float: right;
  position: relative;
  top: -27px;
}

select:disabled {
	background: #dddddd;
}

span.expand-controls {
	float: right;
	padding-left: 5px;
}

div.expand-controls {
	float: right;
	padding-left: 5px;
	display: inline-block;
	width: 100%;
}

.rule-controls {
	float: right;
}

.bigger-caret:before {
	font-size: 16pt;
	vertical-align: middle;
}

.rule-button {

}

.add-ruleset-property-block {
	padding-left: 15px;
}

.run-bold-text {
	font-weight: bold;
}

.run-rule-header-count {
	padding-left: 6px;
}

.run-section-break {
	padding-bottom: 12px;
}
